[submodule "godot-cpp"]
	path = Archive/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "extern/Game-Framework"]
	path = Archive/extern/Game-Framework
	url = https://github.com/heathen-engineering/Game-Framework.git
[submodule "On Codeberg"]
	path = On Codeberg
	url = https://codeberg.org/Heathen-Engineering/Godot-Foundation-for-Steamworks.git
